name: Daily Ci
# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  schedule:
    - cron: 0 8 * * *

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  NX_CLOUD_DISTRIBUTED_EXECUTION: true
  PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
  NPM_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

jobs:
  main:
    runs-on: ubuntu-latest
    if: ${{ github.event_name != 'pull_request' }}
    steps:
      - uses: actions/checkout@v3
        name: Checkout [main]
        with:
          fetch-depth: 0
      - name: Derive appropriate SHAs for base and head for `nx affected` commands
        uses: nrwl/nx-set-shas@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '16'
      - name: Cache pnpm modules
        uses: actions/cache@v3
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-
      - uses: pnpm/action-setup@v2.2.2
        with:
          version: 7.8.0
          run_install: true
      - uses: actions/setup-go@v3
        with:
          go-version: '1.18.2'
          run_install: true
      - run: go version
      #      - name: Cache pnpm modules
      #        uses: actions/cache@v2
      #        with:
      #          path: "**/node_nodules"
      #          key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
      #          restore-keys: |
      #            ${{ runner.os }}-
      #      - uses: pnpm/action-setup@v2.1.0
      #        with:
      #          version: 6.11.0
      #          run_install: true
      #      - run: git config --global user.email krupnik.yuri@gmail.com && git config --global user.name yurikrupnik
      #      - run: echo //registry.npmjs.org/:_authToken=${NPM_TOKEN} > .npmrc
      #      - run: yarn add dotenv
      #      - run: which nx
      - run: npx nx-cloud start-ci-run
      - run: pnpm nx run-many --parallel --max-parallel=5 --all --skip-nx-cache --target=lint
      - run: pnpm nx run-many --parallel --max-parallel=5 --all --skip-nx-cache --target=test
      - run: pnpm nx run-many --parallel --max-parallel=5 --all --skip-nx-cache --target=build --prod
      - run: pnpm nx run-many --parallel --max-parallel=5 --all --skip-nx-cache --target=e2e
      #      - run: yarn nx run-many --target=lint --parallel --max-parallel=4 --all
        #      - run: yarn e2e -- --skip-nx-cache --verbose
      - name: Stop agents
        run: npx nx-cloud stop-all-agents
        if: ${{ always() }}

  agents:
    runs-on: ubuntu-latest
    name: Agent 1
    timeout-minutes: 20
    strategy:
      matrix:
        agent: [ 1, 2, 3 ]
    steps:
      - uses: actions/checkout@v3
        name: Checkout [main]
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: '16'
      - name: Cache pnpm modules
        uses: actions/cache@v3
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-
      - uses: pnpm/action-setup@v2.2.2
        with:
          version: 7.8.0
          run_install: true
      - uses: actions/setup-go@v3
        with:
          go-version: '1.18.2'
          run_install: true
      #      - run: npm i -g dotenv
      #       yarn cache
      #      - name: Use Yarn cache
      #        uses: actions/cache@v2
      #        id: yarn-cache
      #        with:
      #          path: ".yarn/cache"
      #          key: ${{ runner.os }}-yarn-${{ matrix.node-version }}-${{ hashFiles('**/yarn.lock') }}
      #      - run: yarn install --prefer-offline --frozen-lockfile
      #      - name: Set up Cloud SDK
      #        uses: google-github-actions/setup-gcloud@master
      #        with:
      #          project_id: mussia14
      #          service_account_key: ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS }}
      #      - run: |-
      #          gcloud --quiet auth configure-docker
      - name: Start Nx Agent ${{ matrix.agent }}
        run: npx nx-cloud start-agent
#        run: which nx
